.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 5px;
  background-color: #caaea2;
  align-items: center;
  border: #653732 solid 2px;
}
.menu a {
  margin: 4px;
  padding: 4px;
  background-color: #D08062FF;
  border: 2px solid #DE6435FF;
  border-radius: 15px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.menu a:hover {
  background-color: #DE6435FF;
}
.controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.controls a {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  padding: 5px;
  height: fit-content;
}
.navigation {
  flex: 1 6;
  display: flex;
  gap: 2px;
}
.game-controls {
  display: flex;
  flex: 4 6;
  justify-content: center;
  align-items: center;
}
.game-controls div {
  padding: 0 10px;
}
.game-result {
  display: flex;
  flex: 1 6;
  justify-content: center;
  gap: 5px;
}
.game-result p {
  margin: 0;
}
.game-result span.points {
  font-weight: bold;
  font-size: x-large;
}
.horizontal-buttons {
  margin: 5px 0;
}
.menu .cancel {
  background-color: #fba6f3;
  border: 2px solid #ef76e4;
}
.menu .cancel:hover {
  background-color: #ef76e4;
}
