<div class="controls">
  <div class="navigation">
    <a (click)="showMenu = ! showMenu">
      Menu
    </a>
    <a (click)="showMenu = false; showGameOptions=true;">Configuration</a>
  </div>
  <div class="game-controls">
    @if(showAnswer) {
      <div>
        <b>{{answerResult?.distance | number: '1.0-1'}}</b> km away from <b>{{answerResult?.city?.name}}</b>.
        <br>
        <b>+{{answerResult?.points | number: '1.0-0'}}</b> points
      </div>
      <a (click)="nextQuestion()">Next question</a>
    } @else if(showQuestion) {
      <div> Point to <b>{{game?.currentCityName}}</b>{{game?.country == null ? '' : (', ' + game?.country)}}
        <i>{{game?.cityPopulation == null ? '' : ('(' + (game?.cityPopulation | number: '') + ')')}}</i>
      </div>
      <a (click)="checkAnswer()">Check</a>
    } @else {
      Wait...
    }
  </div>
  <div class="game-result">
      <p><span class="points">{{ points }} </span><span>points</span></p>
  </div>
</div>

@if(showMenu) {
  <div class="menu">
    <a (click)="showMenu=false">Continue game</a>
    <a (click)="startGame()">Quick start</a>
    <a (click)="showMenu=false; showGameOptions=!showGameOptions">Start a new game</a>
    <a>Select game</a>
    <a [routerLink]="['/']">Go to Main page</a>
  </div>
}

@if(showGameOptions) {
  <div class="menu">
    <citom-game-options [options]="game?.options"></citom-game-options>
    <div class="horizontal-buttons">
      <a (click)="startGame()">Start game</a>
      <a (click)="showGameOptions=false" class="cancel">Cancel</a>
    </div>
  </div>
}

<citom-map
  [enableSelection]="!showAnswer"
  (selectPoint)="selectPoint($event)">
</citom-map>
