<div class="controls">
  <div class="navigation">
    <a (click)="changeMenuDisplay()">
      Menu
    </a>
    <a (click)="showOptions('update')">Configuration</a>
  </div>
  <div class="game-controls">
    @if(showAnswer) {
      <div>
        <b>{{answerResult?.distance | number: '1.0-1'}}</b> km away from <b>{{answerResult?.city?.name}}</b>.
        <br>
        <b>+{{answerResult?.points | number: '1.0-0'}}</b> points
      </div>
      <a (click)="nextQuestion()">Next question</a>
    } @else if(showQuestion) {
      <div> Point to <b>{{game?.currentCityName}}</b>{{game?.country == null ? '' : (', ' + game?.country)}}
        <i>{{game?.cityPopulation == null ? '' : ('(' + (game?.cityPopulation | number: '') + ')')}}</i>
      </div>
      <a (click)="checkAnswer()">Check</a>
    } @else {
      Wait...
    }
  </div>
  <div class="game-result">
      <p><span class="points">{{ points }} </span><span>points</span></p>
  </div>
</div>

@if(displayMenuMode === 'menu') {
  <div class="menu">
    <a (click)="displayMenuMode='hidden'">Continue game</a>
    <a (click)="startGame()">Quick start</a>
    <a (click)="showOptions('create')">Start a new game</a>
    <a (click)="displayMenuMode='games'">Select game</a>
    <a [routerLink]="['/']">Go to Main page</a>
  </div>
}

@if(displayMenuMode === 'options') {
  <div class="menu">
    <citom-game-options [options]="game?.options"></citom-game-options>
    <div class="horizontal-buttons">
      @if(optionsMenuMode === "create") {
        <a (click)="startGame()">Start game</a>
      } @else {
        <a (click)="updateOptions()">Save</a>
      }
      <a (click)="displayMenuMode='hidden'" class="cancel">Cancel</a>
    </div>
  </div>
}

@if(displayMenuMode === 'games') {
  <div class="menu">
    <citom-select-game
      (selectGameEvent)="switchGame($event)">
    </citom-select-game>
    <a (click)="displayMenuMode='hidden'" class="cancel">Cancel</a>
  </div>
}

<citom-map
  [enableSelection]="!showAnswer"
  (selectPointEvent)="selectPoint($event)">
</citom-map>
