.menu {
  margin: 40px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-button {
  padding: 12px 10px;
  background-color: lightyellow;
  border: 2px black solid;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.menu-button > a {
  text-decoration: none;
  color: black;
}

p.head-message {
  margin: 2px;
  font-weight: bold;
}
.inputs {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  margin: 5px 0;
}
.inputs label {
  text-align: right;
}
.providers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}
.providers p {
  width: 32px;
  height: 32px;
  background-size: cover;
  margin: 0;
  cursor: pointer;
}
.google-icon {
  background: url("/icons/google64.png");
}
.facebook-icon {
  background: url("/icons/facebook64.png");
}
.instagram-icon {
  background: url("/icons/instagram64.png");
}
.linkedin-icon {
  background: url("/icons/linkedin64.png");
}
.github-icon {
  background: url("/icons/github64.png");
}
.x-icon {
  background: url("/icons/twitter64.png");
}
a.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.registration {
  margin-top: 20px;
}
