.map-container {
  width: 100%;
  overflow-y: hidden;
}

.map {
  width: 100%;
  height: 97vh;
  margin-top: -20px;
  margin-bottom: -25px;
}

.selector {
  position: absolute;
  right: 10px;
  top: 75px;
  z-index: 5;
}

:host ::ng-deep .map-container .ol-zoom .ol-zoom-in {
  position: absolute;
  top: 1.5em;
}
:host ::ng-deep .map-container .ol-zoom .ol-zoom-out {
  position: absolute;
  top: 2.95em;
}

